<div th:fragment="add" class="row">
	<form th:object="${item}" th:action="@{/item/add}" method="post">
		<input type="hidden" th:field="${item.orders}"/>
	  <fieldset class="form-group">
	    <label for="name">Nazwa:</label>
	    <input type="text" class="form-control" id="name" th:field="${item.name}"></input>
	  </fieldset>
	  <fieldset class="form-group">
		<label for="description">Opis:</label>
		<textarea type="text" class="form-control" id="description" rows="7" th:field="${item.description}"></textarea>
	</fieldset>
	  <fieldset class="form-group">
	    <label for="price">Cena:</label>
	    <input type="text" class="form-control" id="price" th:field="${item.cost}"></input>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="category">Kategoria:</label>
	    <select class="form-control" id="category" th:field="${item.category}">
	      <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}">
      		</option>
	    </select>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="status">Status:</label>
	    <select class="form-control" id="stats" th:field="${item.status}">
	      	<option th:each="iStatus : ${stasuses}" th:value="${iStatus}" th:text="${iStatus.toString()}">
      		</option>
	    </select>
	  </fieldset>
	  <div class="row">
	  	<div class="col-md-11">
	  		<button id="test-add" type="submit" class="btn btn-default">Dodaj</button>
	  	</div>
	  	<div class="col-md-1">
	  		<a th:href="@{/item/list/}"><button type="button" class="btn btn-danger">Cofnij</button></a>
	  	</div>
      </div>
	</form>
</div>