<div th:fragment="details" class="row">
	<form th:object="${item}" th:action="@{/item/edit}" method="post">
		<input type="hidden" th:field="${item.id}"/>
		<input type="hidden" th:field="${item.orders}"/>
	  <fieldset class="form-group">
	    <label for="name">Nazwa:</label>
	    <input type="text" class="form-control" id="name" th:field="${item.name}"></input>
	  </fieldset>
	  <fieldset class="form-group">
		<label for="description">Opis:</label>
		<textarea type="text" class="form-control" id="description" rows="7" th:field="${item.description}"></textarea>
	</fieldset>
	<div class="row">
		<div class="col-md-4">
		<fieldset class="form-group">
		    <label for="price">Cena:</label>
		    <input type="text" class="form-control" id="price" th:field="${item.cost}"></input>
		  </fieldset>
		</div>
		
		  <div class="col-md-4">
			  <fieldset class="form-group">
			    <label for="category">Kategoria:</label>
			    <select class="form-control" id="category" th:field="${item.category}">
			      <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}" 
			      		th:selected="${item.category.getId()} == ${category.getId()} != 0 ? false : true">
		      		</option>
			    </select>
			  </fieldset>
		  </div>
		  
		  <div class="col-md-4">
			  <fieldset class="form-group">
			    <label for="status">Status:</label>
			    <select class="form-control" id="stats" th:field="${item.status}">
			      	<option th:each="iStatus : ${stasuses}" th:value="${iStatus}" th:text="${iStatus.toString()}" 
			      		th:selected="${item.status} == ${iStatus} != 0 ? false : true">
		      		</option>
			    </select>
			  </fieldset>
		  </div>
	</div>
	  
	  <div class="row">
	  	
	  	
	  	<div class="col-md-1"></div>
	  	<div class="col-md-10">
	  		<div class="pull-left">
		  		<button id="test-edit" type="submit" class="btn btn-default">Edytuj</button>
		  	</div>
		  	<div class="pull-right">
		  		<a th:href="@{/item/list/}"><button type="button" class="btn btn-danger">Cofnij</button></a>
		  	</div>
	  	</div>
	  	<div class="col-md-1"></div>
      </div>
	</form>
</div>