<div th:fragment="list">
	<div class="table-box">
		<table class="table table-hover">
			<thead>
				<tr class="info">
					<th>Numer</th>
					<th>Nazwa</th>
					<th>Kategoria</th>
					<th>Status</th>
					<th>Akcje</th>
				</tr>
			</thead>
			<tr class="test-row" th:each="item : ${items}">
				<td class="test-id" th:text="${item.id}"></td>
	    		<td class="test-name" th:text="${item.name}"></td>
	    		<td th:text="${item.category} == null ? 'NONE' : ${item.category.name}"></td>
	    		<td th:text="${item.status}"></td>
	    		<td>
		    		<a class="test-edit" th:href="@{/item/details/} + ${item.id}">
		    			<button class="btn btn-default">Detale</button>
		    		</a>
	    			<button class="btn btn-danger" th:onclick="'sendDeleteTo(\'/item/' + ${item.id} + '\');'">Usuń</button>
	    		</td>
			</tr>
		</table>
		<a th:href="@{/item/add}">
			<button id="test-add" class="btn btn-default">Dodaj</button>
		</a>
	</div>
</div>

