
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container ">
    	<div class="col-md-8">
	        <b><span class="logo">Od ździebła </span></b>
	        <img th:src="@{/images/tree.png}" class="tree-in-text"></img>
	        <b><span class="logo"> do dżewa </span></b>
    	</div>
    	<div class="col-md-4">
    		<div class="row">
    			<div class="pull-right col-md-6">
    				<img th:src="@{/images/operator.JPG}" class="operator"></img>
    			</div>
    			<div class="col-md-6">
    				<div class="row">
		    			<span class="login-info">Witaj Henryk Lenryk!</span>
		    		</div>
		    		<div class="row">
		    			<span class="login-info-small">Jesteś zalogowany jako: <br></br>
		    			Operator</span>
		    		</div>
    			</div>
    		</div>
    		<!-- Zalogowany jako... -->
    		
    	</div>
    </div>
</div>