<div th:fragment="sidebar">
	 <div class="sidebar-box">
 		<ul class="nav">
            <li><a href="#" th:href="@{/order/list}">Zarządzanie zamówieniami</a></li>
            <li><a href="#" th:href="@{/item/list}">Zarządzanie ofertą</a></li>
          </ul>
	 </div>
</div>