.fix {
    position:fixed;
    bottom:0px;
    z-index:-1;
}

.logo {
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
}

.login-info {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.login-info-small {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

.operator {
	width:70px;
	height 100px;
	border-color: black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
}

.tree-in-text {
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
}


body {
    padding-top: 10px;
    padding-bottom: 40px;
    background-color:white;
}

.content-box {
	background-color: rgba(190,235,250,0.4);
	border-style:solid;
	border-color:rgba(190,235,250,1);
	padding: 2%;
	border-radius: 15px;
}

.sidebar-box {
	background-color: rgba(190,235,250,0.6);
	border-style:solid;
	border-color:rgba(190,235,250,1);
	padding: 2%;
	border-radius: 15px;
}


