<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Od ździebła do dżewa.</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'  type='text/css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script th:src="@{/js/functions.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:switch="${header}">
    <div th:case="null">
    	<div th:include="fragments/header :: header"></div>
    </div>
    <div th:case="*">
    	<div th:include="${header} :: ${headerFragment}"></div>
    </div>
</div>
<div class="container">
	<div class="row">
		<!-- Sidebar -->
		<div class="col-md-3" th:switch="${sidebar}">
		    <div th:case="null">
		    	<div th:include="fragments/sidebar :: sidebar"></div>
		    </div>
		    <div th:case="*">
		    	<div th:include="${sidebar} :: ${sidebarFragment}"></div>
		    </div>
		</div>
		<!-- Content -->
	    <div class="content-box col-md-9" th:include="${content} :: ${contentFragment}"></div>
	</div>
    <!-- Footer -->
    <!-- <footer>
    	<th:block th:include="fragments/footer :: footer"></th:block>
    </footer> -->
</div>



<img th:src="@{/images/Green-Grass-3.png}" class="fix"></img>
</body>
</html>