<div th:fragment="add" class="row">
	<form th:object="${oItem}" th:action="@{/orderitem/add}" method="post">
		<input type="hidden" th:field="${oItem.id}"/>
		<input type="hidden" th:field="${oItem.ordered.id}"/>
	  
	  <fieldset class="form-group">
	    <label for="category">Przedmiot:</label>
	    <select class="form-control" id="category" th:field="${oItem.item}">
	      <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name} + ' : ' + ${item.id}">
      		</option>
	    </select>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="name">Ilość:</label>
	    <input type="text" class="form-control" id="name" th:field="${oItem.amount}"></input>
	  </fieldset>
	  <div class="row">
	  	<div class="col-md-1"></div>
	  	<div class="col-md-10">
	  		<div class="pull-left">
	  			<button type="submit" class="btn btn-default">Dodaj</button>
		  	</div>
		  	<div class="pull-right">
		  		<a th:href="@{/order/details/} + ${oItem.ordered.id}"><button type="button" class="btn btn-danger">Cofnij</button></a>
		  	</div>
	  	</div>
	  	<div class="col-md-1"></div>
	  	
      </div>
	</form>
</div>
