<div th:fragment="details" class="row">
	<form th:object="${oItem}" th:action="@{/orderitem/edit}" method="post">
		<input type="hidden" th:field="${oItem.id}"/>
		<input type="hidden" th:field="${oItem.item}"/>
		<input type="hidden" th:field="${oItem.ordered}"/>
	  <fieldset class="form-group">
	    <label for="amount">Ilość:</label>
	    <input type="text" class="form-control" id="amount" th:field="${oItem.amount}"></input>
	  </fieldset>
	  
	  <div class="row">
	  	<div class="col-md-1"></div>
	  	<div class="col-md-10">
	  		<div class="pull-left">
	  			<button type="submit" class="btn btn-default">Edytuj ilość</button>
	  		</div>
		  	<div class="pull-right">
		  		<a th:href="@{/order/details/} + ${oItem.ordered.id}"><button type="button" class="btn btn-danger">Cofnij</button></a>
	  		</div>
	  	</div>
	  	<div class="col-md-1"></div>
      </div>
	</form>
</div>