<div th:fragment="details" class="row">
	<table class="table table-hover">
		<thead>
			<tr class="info">
				<th>Przedmiot</th>
				<th>Numer Przedmiotu</th>
				<th>Ilość</th>
				<th>Koszt</th>
				<th>Akcje</th>
			</tr>
		</thead>
		<tr th:each="oItem : ${order.getItems()}">
    		<td th:text="${oItem.item.name}"></td>
    		<td th:text="${oItem.item.id}"></td>
    		<td th:text="${oItem.amount}"></td>
    		<td th:text="${#numbers.formatDecimal(oItem.amount*oItem.item.cost, 0, 'COMMA', 2, 'POINT')}"></td>
    		<td>
	    		<a th:href="@{/orderitem/details/} + ${oItem.id}">
	    			<button class="btn btn-default">Detale</button>
	    		</a>
    			<button class="btn btn-danger" th:onclick="'sendDeleteTo(\'/orderitem/' + ${oItem.id} + '\');'">Usuń</button>
    		</td>
		</tr>
	</table>
	W sumie cena :<b><span th:text="${#numbers.formatDecimal(sum, 0, 'COMMA', 2, 'POINT')}"></span></b> zł. <br></br>
	<a th:href="@{/orderitem/add/} + ${order.id}">
		<button class="btn btn-default">Dodaj przedmiot</button>
	</a>
	<div class="row">
		<div class="col-md-6">
			<fieldset class="form-group">
			    <label for="state">Aktualny status zamówienia:</label>
			    <input type="text" class="form-control" id="state" th:value="${order.state}" disabled="true"></input>
		  	</fieldset>
		  	<fieldset class="form-group">
			    <label for="states">Nowy status:</label>
			    <select class="form-control" id="states">
			      <option th:each="state : ${states}" th:value="${state}" th:text="${state.toString()}">
		      		</option>
			    </select>
		  	</fieldset>
			<button class="btn btn-danger" 
				th:onclick="'changeOrderState(\'states\', \'/order/changeStatus/' + ${order.id} + '\');'">
					Zmień status
			</button>
		</div>
		
		<div class="col-md-6">
			<fieldset class="form-group">
			    <label for="track">Aktualny numer trackingowy:</label>
			    <input type="text" class="form-control" id="track" th:value="${order.trackingNo} == null ? 'BRAK' : ${order.trackingNo}" disabled="true"></input>
		  	</fieldset>
		  	<fieldset class="form-group">
			    <label for="newTrack">Nowy numer trackingowy:</label>
			    <input type="text" class="form-control" id="newTrack"></input>
		  	</fieldset>
			<button class="btn btn-danger" 
				th:onclick="'changeTracking(\'newTrack\', \'/order/changeTracking/' + ${order.id} + '\');'">
					Zmień numer trackingowy
			</button>
		</div>
		
	</div>
	
    		
</div>