<div th:fragment="list">
	<div class="table-box">
		<table class="table table-hover">
			<thead>
				<tr class="info">
					<th>Numer</th>
					<th>Data</th>
					<th>Pracownik</th>
					<th>Status</th>
					<th>Akcje</th>
				</tr>
			</thead>
			<tr th:each="order : ${orders}">
	    		<td th:text="${order.id}"></td>
	    		<td th:text="${order.date} == null ? 'BRAK' : ${order.date}"></td>
	    		<td th:text="${order.workerName} == null ? 'BRAK' : ${order.workerName}"></td>
	    		<td th:text="${order.state} == null ? 'BRAK' : ${order.state}"></td>
	    		<td>
		    		<a th:href="@{/order/details/} + ${order.id}">
		    			<button class="btn btn-default">Detale</button>
		    		</a>
	    			<button class="btn btn-danger" th:onclick="'sendDeleteTo(\'/order/' + ${order.id} + '\');'">Usuń</button>
	    		</td>
			</tr>
		</table>
	</div>
</div>

